.poster-c {
  position: relative;
  img {
    min-width: 100vw;
    height: auto;
    min-height: 280px;
    opacity: 0.7;
    animation: scaleOut 2s ease forwards;
  }

  div {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 500ms all ease;
    h2 {
      font-family: cursive;
      font-size: 2rem;
    }
    p {
      font-style: italic;
      font-size: 1.25rem;
    }
  }

  .left {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 3rem;
    cursor: pointer;
  }
  &:hover div {
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
  }
  &:hover .left {
    color: white;
    opacity: 1;
    z-index: 2;
  }
}

.embed-container {
  background-color: rgba(0, 0, 0, 0.64);

  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
  transition: 300ms all ease;

  h2 {
    cursor: pointer;
  }

  .iframe {
    height: 0;
    width: 100%;
    max-width: 100%;
    transition: 300ms all ease;
  }
}

.artist-container {
  background-color: rgba(0, 0, 0, 0.64);
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
  transition: 300ms all ease;
}

.text {
  background-color: black;
  margin-bottom: 2px;
  width: 100%;
  height: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .down {
    position: absolute;
    top: 50%;
    right: 5vw;
    cursor: pointer;
  }
  h2 {
    color: white;
    font-family: cursive;
    cursor: pointer;
  }
}

.caster-list {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  height: 0;
  gap: 40px;
  width: 100%;
  max-width: 100%;
  transition: 300ms all ease;
  overflow-x: auto;
}

.movie-report {
  display: flex;
  img {
    height: 340px;
    max-width: 250px;
  }
  h3 {
    font-size: 2rem;
    text-align: center;
  }
  p {
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 400;
    color: white;
  }
  hr {
    width: 18%;
    border: 2px solid white;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 3px;
  }
}

.movie-report * {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .movie-report {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 1.6rem;
    }
  }
}
