.movie-container {
  position: relative;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: 1rem;
  min-width: 220px;
  img {
    width: 100%;
    animation: scaleOut 2s ease forwards;
    min-height: 220px;
    min-height: 220px;
  }
  h3 {
    background-color: #393e46;
    color: #fcecdd;
    height: 8vh;
    overflow: hidden;
    text-align: center;
  }

  .overview {
    position: absolute;
    /* top: 0; */
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    color: white;
    font-weight: 500;
    transform: translateX(0);
    transition: 500ms all ease;
    display: flex;
    flex-direction: column;
  }
  span {
    position: absolute;
    background-color: black;
    border-radius: 2px;
    padding: 0.7rem;
    color: white;
    font-weight: 700;
    top: 53px;
    left: 0;
  }

  .movie-btn {
    background-color: #393e46;
    position: relative;
    z-index: 2;
    button {
      transition: 200ms all ease-in-out;
      cursor: pointer;
      font-weight: bold;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      &:hover {
        background-color: #393e46;
        color: white;
      }
    }
  }
}
