.movie-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  place-items: center;
  gap: 20px;
  text-align: center;
  margin: 0 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  background-color: #393e46;
  margin-top: 20px;

  a {
    margin: 10px;
    color: white;
  }
  a.active {
    opacity: 0.3;
  }
  .hide {
    display: none;
  }
  next.hide {
    display: none;
  }
}
